* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: red;
}

.nav-container {
    height: 64px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-container img {
    width: 175px;
    padding-inline-start: 24px;
    height: 100%;
}


.nav-links {
    flex: 1;
    text-align: right;

}

.nav-links a {
    text-decoration: none;
    color: #8530a9;
    font-size: 1.1rem;
    letter-spacing: .5px;
    font-weight: 500;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;

}

.nav-links button {
    padding: 13px 20px;
    border-radius: 4px;
    background-color: #1a73e8;
    color: white;
    font-size: 1rem;
    border: none;
    letter-spacing: .5px;
    font-weight: 500;

}

.nav-links button:hover {

    background-color: #174ea6;

}
.bgimage1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.bgimage1 img{
    height: 800px;
    width: 100%;
}

.phone{
    height: 680px;
    width: 324px;
    background-color: white;
    position: absolute;
    top: 190px;
    justify-self: center;
    border-radius: 25px;
    overflow: hidden;
}
#phoneimg{
    height: 600px;
    
}
#gift{
    position: absolute;
    left: 100px;
    background-color: white;
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 50px;
    color:rgb(21, 21, 21);
}
#dance{
    position: absolute;
    right: 100px;
    background-color: rgb(190, 215, 246);
    font-size: 20px;
    padding: 7px 15px;
    border-radius: 50px;
    color:rgb(6, 6, 176);
    top: 600px;
    
}